.alert{
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-primary{
  background: var(--primary-color);
  color: #fff;
}

.alert-danger{
  background: #ef5350;
  color: #fff
}

.alert-success{
  background: #7cb342;
  color: #fff
}

/* Material css */
.material-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
  flex-direction: column;
  box-sizing: border-box;
}

.material-btn {
  display: block;
  padding: 0;
  overflow: hidden;
  height: 2.5em;
  line-height: 2.5em;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  color: #ecf0f1;
  
  transition: background-color .3s;
}
